@{
    ViewData["Title"] = "Devoluciones";
}
@section Scripts {
<script src="~/js/shared.js"></script>
<script src="~/js/devoluciones.js"></script>
}

<div id="devolucionesPage" data-bind="submit: guardar.bind($data)">

    <h2>Devoluciones</h2>

    <input type="hidden" value='@ViewData["ventaId"]' id="hidVentaId" />
<!-- ko foreach: { data: lines, as: 'l' } -->
    <table class="table table-sm">
        <thead>
            <tr>
                <th scope="col">Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Unidad de Medida</th>
                <th scope="col">Precio de Venta</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Total</th>                
            </tr>
        </thead>
        <tbody>            
            <tr>
                <td data-bind="text: l.producto.nombre"></td>
                <td data-bind="text: l.categoria"></td>
                <td data-bind="text: l.unidadMedida"></td>
                <td data-bind="text: l.aMoneda(l.precioUnitario)"></td>
                <td data-bind="text: l.cantidad">

                </td>
                <td data-bind="text: l.aMoneda(l.cantidad * l.precioUnitario)">

                </td>                
            </tr>
            <tr>
                <td colspan="6">                    
                    <form class="row g-3">                        
                        <div class="col-auto">
                            <strong  class="col-form-label">Cantidad Devuelta</strong>
                        </div>
                        <div class="col-auto">
                            <label  class="col-form-label">En buenas condiciones</label>
                            <input type="text" inputmode="decimal" placeHolder="En buenas condiciones"
                            data-bind="value: l.cantidadEnBuenasCondiciones, attr: { max: l.cantidad - l.cantidadEnMalasCondiciones() }" class="form-control" />
                        </div> 
                        <div class="col-auto">
                            <label  class="col-form-label">En malas condiciones</label>
                            <input type="text" inputmode="decimal" placeHolder="En malas condiciones"
                            data-bind="value: l.cantidadEnMalasCondiciones" class="form-control" />
                        </div>

                        <div class="col-auto">
                            <label  class="col-form-label">Devolver al cliente:</label>
                            <strong  class="col-form-label" data-bind="text: l.aMoneda(l.devolucionRowOp())"></strong>
                        </div>
                    </form>                    
                </td>                
            </tr>                         
        </tbody>
    </table>    
<!-- /ko -->
</div>