@{
    ViewData["Title"] = "Ventas";
}

@section Scripts {
    <script src="~/js/ventas.js"></script>
}

<div id="ventasPage">
  <input type="hidden" id="productSearch" value="@Url.Action("BuscarProducto","Ventas")" />
  <label for="autcomplete" class="form-label">Producto</label>
  <input class="form-control" list="datalistOptions" id="product-autcomplete" placeholder="Escriba para buscar..." data-bind="textInput: pattern">
  <datalist id="datalistOptions">
    <option value="San Francisco">uno</option>
    <option value="New York">dos</option>
    <option value="Seattle">tres</option>
    <option value="Los Angeles">cuatro</option>
    <option value="Chicago">cinco</option>
  </datalist>
</div>
