@{
    ViewData["Title"] = "Registro";
    var error = TempData["Error"] as string;
}

<h1>Registro</h1>
<h2>Sólo con invitación</h2>
<p>
    Por favor contacte al 
    administrador para solicitar que lo inviten.
</p>
