@{
    ViewData["Title"] = "Productos";
}

@section Header {
<link rel="stylesheet" href="~/lib/autoComplete.js-10.2.7/css/autoComplete.css">
}
@section Scripts {

<script src="~/lib/autoComplete.js-10.2.7/autoComplete.min.js"></script>
<script src="~/lib/qrcode.min.js"></script>
<script src="~/js/shared.js"></script>
<script src="~/js/etiquetas.js"></script>
<script type="text/javascript">

    //https://tarekraafat.github.io/autoComplete.js/#/playground
    const autoCompleteJS = new autoComplete({
        placeHolder: "Buscar productos...",
        resultItem: {
            highlight: true
        },
        data: {
            src: async (query) => {
                try {
                    console.log(query);
                    // Fetch Data from external Source
                    const source = await fetch(`${document.baseURI}busquedas/productos?pattern=${query}`);
                    // Data should be an array of `Objects` or `Strings`
                    const data = await source.json();

                    return data;
                } catch (error) {
                    return error;
                }
            },
            keys: ["nombre"] // Data source 'Object' key to be searched
        }
    });

    let toQr = (elementId, id) => {
        // https://davidshimjs.github.io/qrcodejs/
        new QRCode(document.getElementById(elementId), {
            text: id,
            width: 128,
            height: 128,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });
    };    
</script>
}


<script type="text/html" id="QrCode">
    <div style="margin-left:10px;" data-bind="attr: { id: id }"></div>
</script>

<script type="text/html" id="ProductCard">

    <div class="card">
        <div class="row">
            <div class="col">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center">
                        <button type="button" class="btn" data-bind="click: $parent.borrar.bind($parent)">                    
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            </svg>
                        </button>
                    </li>

                </ul> 
            </div>
        </div>
        <div class="row g-3">
            <div class="col-md-4">
                <!-- ko template: { name: "QrCode", afterRender: () => toQr(p.id, p.id) } -->
                <!-- /ko -->
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p>
                        <span data-bind="text: p.nombre"></span>
                    </p>
                    <p>
                        <span data-bind="text: p.precioVentaPesos"></span> 
                        <span data-bind="text: p.unidadMedida"></span>
                    </p>   
                </div>                
            </div>
        </div>     
    </div>
</script>


<div id="etiquetasPage">
    <h2>Etiquetas</h2>

    <input id="autoComplete" style="width: 800px;" />

    <div class="row row-cols-1 row-cols-md-3 g-1 pt-4">
        <!-- ko foreach: { data: lines, as: 'p' } -->
        <div class="col">
            <!-- ko template: { name: "ProductCard" } -->
            <!-- /ko -->
        </div>
        <!-- /ko -->
    </div>

</div>