@{
    ViewData["Title"] = "Productos";
    @model Ro.Inventario.Web.Entities.ProductoEncontrado;
}

@section Header {
<link rel="stylesheet" href="~/lib/autoComplete.js-10.2.7/css/autoComplete.css">

<script type="text/JavaScript">
    let strProduct = '@ViewData["Product"]';
</script>
}
@section Scripts {

<script src="~/lib/autoComplete.js-10.2.7/autoComplete.min.js"></script>
<script src="~/js/shared.js"></script>
<script src="~/js/stock.js"></script>

}


<div id="stockPage">

    <h2>Stock</h2>    

    <div class="card">    
    <div class="card-body">
        <h5 class="card-title">@Model.Nombre</h5>
        <p class="card-text">Existencias <strong>@Model.Stock</strong>, unidad de medida <strong>@Model.UnidadMedida</strong>.</p>

        <form data-bind="submit: guardar.bind($data)">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" required>
                <label class="btn btn-outline-success" for="btnradio1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
                    </svg>
                    Agregar unidades
                </label>
  
                <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off" required>
                <label class="btn btn-outline-danger" for="btnradio3">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-lg" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2 8a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11A.5.5 0 0 1 2 8Z"/>
                    </svg>
                    Quitar unidades
                </label>
            </div>
            <div class="mb-3">
                <label for="txtCantidad" class="form-label">Cantidad</label>
                <input class="form-control" id="txtCantidad" placeholder="cantidad" type="number" step=".01" required>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Motivo del cambio</label>
                <textarea class="form-control" required></textarea>
            </div>            
            <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
    </div>
    </div>
    
</div>